body{
    background-color: white;
    text-align: center;
}



h1 {
    text-align: center;
    display: block;
    background-color: #84CA77;
    color: white;
}

input {
    background-color: white;
    border-color: #84CA77;
}

button {
    background-color: white;
    color: #84CA77;
    border-color: #84CA77;
}